<%= form_for(@event) do |f| %> <% if @event.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@event.errors.count, "error") %> prohibited this
		event from being saved:</h2>

	<ul>
		<% @event.errors.full_messages.each do |message| %>
		<li><%= message %></li> <% end %>
	</ul>
</div>
<% end %>

<div class="col-lg-4 form-group" style="width">
	<div class="field">
		<%= f.label :name %><br> <%= f.text_field :name, :class => 'form-control' %>
	</div>
	<div class="field">
		<%= f.label :start_date %><br> 
		<%= f.text_field :start_date, :value => br_date_format(@event.start_date) , :class => "datepicker form-control" %>
	</div>
	<div class="field">
		<%= f.label :end_date %><br> 
		<%= f.text_field :end_date, :value => br_date_format(@event.end_date) , :class => "datepicker form-control" %>
	</div><br/>
	<div class="actions">
		<%= f.submit :class=> "btn btn-primary  btn-sm", :value=> "Salvar evento" %> 
		<%= link_to 'Voltar', events_path, :class=> "btn btn-primary  btn-sm" %></div>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".datepicker").datepicker({
			dateFormat: "dd/mm/yy"
		});
	});
</script>