<p id="notice"><%= notice %></p>

<h1>Eventos Cadastrados</h1>

<div id="wrapper" style="width: 70%" >
	<div class="actionBar"><%= link_to 'Novo Evento', new_event_path, class: 'btn btn-primary btn-sm' %></div>
	
	<table class="table table-striped table-hover " style="width:100%">
	  <thead>
	    <tr>
	      <th>Nome</th>
	      <th>Data início</th>
	      <th>Data fim</th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @events.each do |event| %>
	      <tr>
	        <td><%= event.name %></td>
	        <td><%= br_date_format(event.start_date) %></td>
	        <td><%= br_date_format(event.end_date) %></td>
	        <td class="row-action">
	        	<%= link_to 'Editar', edit_event_path(event), :class=>'btn btn-primary btn-xs'  %>&nbsp;
	        	<%= link_to 'Apagar', event, method: :delete, :class=>'btn btn-primary btn-xs',  data: { confirm: 'VocÊ tem certeza?' } %>&nbsp;
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>