<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :document_number %><br>
    <%= f.number_field :document_number %>
  </div>
  <div class="field">
    <%= f.label :document_type %><br>
    <%= f.number_field :document_type %>
  </div>
  <div class="field">
    <%= f.label :phone_area_code %><br>
    <%= f.text_field :phone_area_code %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone_area_code %><br>
    <%= f.text_field :mobile_phone_area_code %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone_number %><br>
    <%= f.text_field :mobile_phone_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
