<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Document number</th>
      <th>Document type</th>
      <th>Phone area code</th>
      <th>Phone number</th>
      <th>Mobile phone area code</th>
      <th>Mobile phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.document_number %></td>
        <td><%= customer.document_type %></td>
        <td><%= customer.phone_area_code %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.mobile_phone_area_code %></td>
        <td><%= customer.mobile_phone_number %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
