<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @customer.document_number %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @customer.document_type %>
</p>

<p>
  <strong>Phone area code:</strong>
  <%= @customer.phone_area_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Mobile phone area code:</strong>
  <%= @customer.mobile_phone_area_code %>
</p>

<p>
  <strong>Mobile phone number:</strong>
  <%= @customer.mobile_phone_number %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
