<h2>Autenticação de usuário</h2>

<%= form_for(resource, as: resource_name, url:
session_path(resource_name)) do |f| %>
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">

<div id="login-page">
	<div class="container">

		<form class="form-login" action="index.html">
			<div class="login-wrap">
				<input id="loginField" type="text" class="form-control" placeholder="Usuário" autofocus /> <br/> 
				<input id="passwordField" type="password" class="form-control" placeholder="Senha" /><br/><br/>
				<button id="btnSubmit" class="btn btn-theme btn-block" href="index.html" type="submit">
					ENTRAR
				</button>
				<hr>
			</div>
		</form>

	</div>
</div>
<% end %> <%= render "devise/shared/links" %>
