<%= form_for(@product) do |f| %> <% if @product.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "erro(s)") %> impediram que
		o produto fosse salvo.:</h2>

	<ul>
		<% @product.errors.full_messages.each do |message| %>
		<li><%= message %></li> <% end %>
	</ul>
</div>
<% end %>

<div class="col-lg-4 form-group" style="">
	<div class="field">
		<%= f.label :code %><br> <%= f.text_field :code, :class => 'form-control' %>
	</div>
	<div class="field">
		<%= f.label :name %><br> <%= f.text_field :name, :class => 'form-control' %>
	</div>
	<div class="field">
		<%= f.label :price %><br> <%= f.text_field :price, :id => 'price', :class => 'form-control money' %>
	</div><br/>
	<div class="actions">
		<%= f.submit :class=> "btn btn-primary btn-sm", :value=> "Salvar produto" %> 
		<%= link_to 'Voltar', products_path, :class=> "btn btn-primary  btn-sm" %></div>
	</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.money').maskMoney({decimal: ',', thousands : '.', prefix: 'R$ '});
	})
</script>