<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div id="wrapper" style="width: 70%">
	<div class="actionBar"><%= link_to 'Novo produto', new_product_path, :class=>'btn btn-primary btn-sm' %></div>

	<table class="table table-striped table-hover " style="width: 100%">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>Preço</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @products.each do |product| %>
			<tr>
				<td><%= product.code %></td>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
				<td class="row-action">
					<%= link_to 'Editar', edit_product_path(product), :class=>'btn btn-primary btn-xs' %> 
					<%= link_to 'Apagar', product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-primary btn-xs' %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>
