<!DOCTYPE html>
<html>
<head>
	<title>Evento Pontual</title> 
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %> 
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<!--header start-->
	<header class="header black-bg">
		<div class="sidebar-toggle-box">
             <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
         </div>
		<a href="/" class="logo"><b>EVENTO PONTUAL</b></a>
		<div class="top-menu">
			<ul class="nav pull-right top-menu">
				<li><a class="logout" href="login.html">Logout</a></li>
			</ul>
		</div>
	</header>
	<aside>
		<div id="sidebar" class="nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu" id="nav-accordion">
				<li class="mt"><%= link_to "Eventos",events_path %></li>
				<li class="mt"><%= link_to "Produtos",products_path %></a></li>
				<li class="mt"><%= link_to "Clientes",customers_path %></li>
				<li class="mt"><a href="index.html"><span>Movimentação</span></a></li>
				<li class="mt"><a href="#contact"><span>Configurações</span></a></li>
			</ul>
			<!-- sidebar menu end-->
		</div>
	</aside>
	<section id="main-content">
		<section class="wrapper"><%= yield %></section>
	</section>
</body>
</html>
